node_modules
# Keep environment variables out of version control
.env
dist
.DS_Store

/storage/**
/storage/**
/coverage
docs/architecture/unification-roadmap.md

# ArkStack specific files and directories
.arkstack
.arkormx
docs/.vitepress/.temp
docs/.vitepress/cache

/arkstack-express
/arkstack-express/*