APP_NAME=Arkstack
APP_URL=http://localhost:3000
APP_PORT=3000
APP_HOST=localhost
FILESYSTEM_DISK=local

CACHE_STORE=memory
QUEUE_CONNECTION=sync

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

APP_KEY=
JWT_EXPIRES_IN=1h

DATABASE_URL="postgres://postgres:postgres@localhost:5432/arkstack?schema=public"
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=arkstack
DB_USERNAME=postgres
DB_PASSWORD=postgres

MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_SECURE=false
MAIL_USERNAME=no-reply@example.com
MAIL_PASSWORD=password
MAIL_FROM_ADDRESS=no-reply@example.com
MAIL_TEST_ADDRESS=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=
AWS_URL=
AWS_ENDPOINT=