APP_URL="http://localhost:3000"
APP_PORT=3000

JWT_SECRET="your-jwt-secret"
JWT_EXPIRES_IN="1h"

DATABASE_URL="postgres://postgres:postgres@localhost:5432/arkstark_test?schema=public"

GOOGLE_CALLBACK="http://localhost:3000/auth/google/callback"
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"

FACEBOOK_CALLBACK="http://localhost:3000/auth/facebook/callback"
FACEBOOK_CLIENT_ID="your-facebook-client-id"
FACEBOOK_CLIENT_SECRET="your-facebook-client-secret"